Guardian/Script Loader/Service References/CallbackManagerWebRef/ServerAdminCallbackManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ServerAdminCallbackManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpServerAdminMgrEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy>
                        <sp:MustSupportRefKeyIdentifier />
                        <sp:MustSupportRefIssuerSerial />
                        <sp:MustSupportRefThumbprint />
                        <sp:MustSupportRefEncryptedKey />
                      </wsp:Policy>
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
            <sp:SignedParts>
              <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
            </sp:SignedParts>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Guardian/Server Admin Callback Manager?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Guardian/Server Admin Callback Manager?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Guardian/Server Admin Callback Manager?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerAdminCallbackManager_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_GetAsyncResponseData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAsyncResponseData" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_GetAsyncResponseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAsyncResponseDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_OnServerMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnServerMessage" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_OnServerMessage_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnServerMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_OnPendingResponseObject_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPendingResponseObject" />
  </wsdl:message>
  <wsdl:message name="IServerAdminCallbackManager_OnPendingResponseObject_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPendingResponseObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerAdminCallbackManager">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/Subscribe" message="tns:IServerAdminCallbackManager_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/SubscribeResponse" message="tns:IServerAdminCallbackManager_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/Unsubscribe" message="tns:IServerAdminCallbackManager_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/UnsubscribeResponse" message="tns:IServerAdminCallbackManager_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAsyncResponseData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/GetAsyncResponseData" message="tns:IServerAdminCallbackManager_GetAsyncResponseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/GetAsyncResponseDataResponse" message="tns:IServerAdminCallbackManager_GetAsyncResponseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnServerMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/OnServerMessage" message="tns:IServerAdminCallbackManager_OnServerMessage_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/OnServerMessageResponse" message="tns:IServerAdminCallbackManager_OnServerMessage_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPendingResponseObject">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/OnPendingResponseObject" message="tns:IServerAdminCallbackManager_OnPendingResponseObject_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminCallbackManager/OnPendingResponseObjectResponse" message="tns:IServerAdminCallbackManager_OnPendingResponseObject_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpServerAdminMgrEndpoint" type="tns:IServerAdminCallbackManager">
    <wsp:PolicyReference URI="#TcpServerAdminMgrEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminCallbackManager/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminCallbackManager/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAsyncResponseData">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminCallbackManager/GetAsyncResponseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnServerMessage">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminCallbackManager/OnServerMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPendingResponseObject">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminCallbackManager/OnPendingResponseObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerAdminCallbackManager">
    <wsdl:port name="TcpServerAdminMgrEndpoint" binding="tns:TcpServerAdminMgrEndpoint">
      <soap12:address location="net.tcp://localhost/Guardian/Server%20Admin%20Callback%20Manager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/Guardian/Server%20Admin%20Callback%20Manager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>