Guardian/Client Trading Support/Service References/AdminSupportReference/Admin Support3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Guardian/Admin Support?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" />
  <xs:import schemaLocation="http://localhost/Guardian/Admin Support?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Guardian/Admin Support?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" />
  <xs:element name="AddOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organization" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="AddOrganizationResult" nillable="true" type="q1:MethodResponseguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="groupId" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tenantId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="AddUserToGroupResult" nillable="true" type="q4:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q5:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="user" nillable="true" type="q6:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateUsersResult" nillable="true" type="q7:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="user" nillable="true" type="q8:User" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateUserResult" nillable="true" type="q9:MethodResponseguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteUserAccountResult" nillable="true" type="q10:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DisableUserAccountResult" nillable="true" type="q11:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="FindUserByNameResult" nillable="true" type="q12:MethodResponseUserContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="GetDebtOrganizationsResult" nillable="true" type="q13:ArrayOfOrganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q14:MethodResponseArrayOfUserContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserContext">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetUserContextResult" nillable="true" type="q15:MethodResponseUserContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MustChangePasswordOnNextLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MustChangePasswordOnNextLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="MustChangePasswordOnNextLoginResult" nillable="true" type="q16:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="groupId" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="RemoveUserFromGroupResult" nillable="true" type="q18:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q19:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="user" nillable="true" type="q20:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateUserResult" nillable="true" type="q21:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>