Guardian/Client Trading Support/Service References/AdminSupportReference/Admin Support2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Guardian/Admin Support?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Guardian/Admin Support?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Core" />
  <xs:import schemaLocation="http://localhost/Guardian/Admin Support?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Guardian/Admin Support?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" />
  <xs:complexType name="MethodResponseguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MethodResponse{0}" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfErrorInfo" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodResponseguid" nillable="true" type="tns:MethodResponseguid" />
  <xs:complexType name="ArrayOfErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorInfo" nillable="true" type="tns:ArrayOfErrorInfo" />
  <xs:complexType name="ErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BulkIndex" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FluidTrade.Core" minOccurs="0" name="ErrorCode" type="q1:ErrorCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
  <xs:complexType name="MethodResponseErrorCode">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MethodResponse{0}" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ErrorCode" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfErrorInfo" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FluidTrade.Core" minOccurs="0" name="Result" type="q2:ErrorCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodResponseErrorCode" nillable="true" type="tns:MethodResponseErrorCode" />
  <xs:complexType name="MethodResponseArrayOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MethodResponse{0}" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfguid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfErrorInfo" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Result" nillable="true" type="q3:ArrayOfguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodResponseArrayOfguid" nillable="true" type="tns:MethodResponseArrayOfguid" />
  <xs:complexType name="MethodResponseUserContextData">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MethodResponse{0}" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserContextData" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfErrorInfo" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="Result" nillable="true" type="q4:UserContextData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodResponseUserContextData" nillable="true" type="tns:MethodResponseUserContextData" />
  <xs:complexType name="MethodResponseArrayOfUserContextData">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="MethodResponse{0}" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUserContextData" Namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfErrorInfo" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="Result" nillable="true" type="q5:ArrayOfUserContextData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodResponseArrayOfUserContextData" nillable="true" type="tns:MethodResponseArrayOfUserContextData" />
</xs:schema>