Guardian/Client Trading Support/Service References/TradingSupportReference/Trading Support5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Guardian/Trading Support?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" />
  <xs:import schemaLocation="http://localhost/Guardian/Trading Support?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Guardian/Trading Support?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Guardian/Trading Support?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" />
  <xs:element name="UpdateEntityTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q1:ArrayOfEntityTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateEntityTreeResult" nillable="true" type="q2:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntityTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q3:ArrayOfEntityTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEntityTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteEntityTreeResult" nillable="true" type="q4:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrantAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="rightsHolderId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="entityId" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="rightId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrantAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GrantAccessResult" nillable="true" type="q8:MethodResponseguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="rightsHolderId" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="entityId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="RevokeAccessResult" nillable="true" type="q11:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q12:ArrayOfCreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateCreditCardResult" nillable="true" type="q13:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q14:ArrayOfCreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateCreditCardResult" nillable="true" type="q15:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q16:ArrayOfCreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteCreditCardResult" nillable="true" type="q17:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q18:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetCreditCardResult" nillable="true" type="q19:MethodResponseArrayOfCreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebtPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerDebtPayments" nillable="true" type="q20:ArrayOfConsumerDebtPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebtPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateConsumerDebtPaymentResult" nillable="true" type="q21:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrustPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerTrustPayments" nillable="true" type="q22:ArrayOfConsumerTrustPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrustPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateConsumerTrustPaymentResult" nillable="true" type="q23:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDestinationOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="destinationOrders" nillable="true" type="q24:ArrayOfDestinationOrderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDestinationOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyDestinationOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="destinationOrderReferences" nillable="true" type="q25:ArrayOfDestinationOrderReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyDestinationOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q26:guid" />
        <xs:element minOccurs="0" name="rowVersion" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q27:ArrayOfNegotiation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNegotiationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateNegotiationResult" nillable="true" type="q28:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q29:ArrayOfNegotiation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNegotiationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateNegotiationResult" nillable="true" type="q30:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="negotiationId" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineNegotiationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q32:guid" />
        <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferNegotiationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q33:ArrayOfProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateProvinceResult" nillable="true" type="q34:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q35:ArrayOfProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateProvinceResult" nillable="true" type="q36:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q37:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateReportResult" nillable="true" type="q38:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q39:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateReportResult" nillable="true" type="q40:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q41:ArrayOfSecurity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateSecurityResult" nillable="true" type="q42:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q43:ArrayOfSecurity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteSecurityResult" nillable="true" type="q44:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q45:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetSecurityResult" nillable="true" type="q46:MethodResponseArrayOfSecurity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q47:ArrayOfSecurity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateSecurityResult" nillable="true" type="q48:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerMetadata">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServerMetadataResult" nillable="true" type="q49:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationParameters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="GetSimulationParametersResult" nillable="true" type="q50:SimulationParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSimulationParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian" minOccurs="0" name="simulationParameters" nillable="true" type="q51:SimulationParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSimulationParametersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetUserIdResult" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkingOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q53:ArrayOfWorkingOrderRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkingOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateWorkingOrderResult" nillable="true" type="q54:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkingOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q55:ArrayOfWorkingOrderRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkingOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateWorkingOrderResult" nillable="true" type="q56:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkingOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q57:ArrayOfWorkingOrderRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkingOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteWorkingOrderResult" nillable="true" type="q58:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkingOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q59:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkingOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetWorkingOrderResult" nillable="true" type="q60:MethodResponseArrayOfWorkingOrderRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommissionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q61:ArrayOfCommissionSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommissionScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateCommissionScheduleResult" nillable="true" type="q62:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q63:ArrayOfDebtRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateDebtRuleResult" nillable="true" type="q64:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebtRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q65:ArrayOfDebtRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebtRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteDebtRuleResult" nillable="true" type="q66:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebtRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="debtRules" nillable="true" type="q67:ArrayOfDebtRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebtRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateDebtRuleResult" nillable="true" type="q68:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlotter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q69:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlotterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetBlotterResult" nillable="true" type="q70:MethodResponseArrayOfBlotter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q71:ArrayOfEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateEntityResult" nillable="true" type="q72:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q73:ArrayOfEntityTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntityTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateEntityTreeResult" nillable="true" type="q74:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="matchId" type="q75:guid" />
        <xs:element minOccurs="0" name="rowVersion" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDestinationOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearDestinationOrdersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q76:ArrayOfConsumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateConsumerResult" nillable="true" type="q77:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtHolderImportTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q78:ArrayOfDebtHolderImportTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtHolderImportTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateDebtHolderImportTranslationResult" nillable="true" type="q79:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q80:ArrayOfConsumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteConsumerResult" nillable="true" type="q81:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q82:ArrayOfConsumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateConsumerResult" nillable="true" type="q83:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q84:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetConsumerResult" nillable="true" type="q85:MethodResponseArrayOfConsumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumerDebt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q86:ArrayOfConsumerDebt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumerDebtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateConsumerDebtResult" nillable="true" type="q87:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q88:ArrayOfConsumerDebt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateConsumerDebtResult" nillable="true" type="q89:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumerDebt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q90:ArrayOfConsumerDebt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumerDebtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteConsumerDebtResult" nillable="true" type="q91:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerDebt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q92:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerDebtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetConsumerDebtResult" nillable="true" type="q93:MethodResponseArrayOfConsumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveConsumerDebtToBlotter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="blotterId" type="q94:guid" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="orders" nillable="true" type="q95:ArrayOfBaseRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveConsumerDebtToBlotterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="MoveConsumerDebtToBlotterResult" nillable="true" type="q96:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumerDebtNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q97:ArrayOfConsumerDebtNegotiationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConsumerDebtNegotiationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteConsumerDebtNegotiationResult" nillable="true" type="q98:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerDebtNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q99:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerDebtNegotiationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetConsumerDebtNegotiationResult" nillable="true" type="q100:MethodResponseArrayOfConsumerDebtNegotiationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDebtHolderRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q101:ArrayOfDebtHolderRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDebtHolderRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="ImportDebtHolderRecordsResult" nillable="true" type="q102:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDebtNegotiatorRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q103:ArrayOfDebtNegotiatorRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDebtNegotiatorRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="ImportDebtNegotiatorRecordsResult" nillable="true" type="q104:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtHolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q105:ArrayOfDebtHolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtHolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateDebtHolderResult" nillable="true" type="q106:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="chatInfos" nillable="true" type="q107:ArrayOfChatInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebtHolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q108:ArrayOfDebtHolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebtHolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateDebtHolderResult" nillable="true" type="q109:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebtHolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q110:ArrayOfDebtHolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebtHolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteDebtHolderResult" nillable="true" type="q111:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtNegotiator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q112:ArrayOfDebtNegotiator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDebtNegotiatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="CreateDebtNegotiatorResult" nillable="true" type="q113:MethodResponseArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebtNegotiator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q114:ArrayOfDebtNegotiator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDebtNegotiatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateDebtNegotiatorResult" nillable="true" type="q115:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebtNegotiator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q116:ArrayOfDebtNegotiator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDebtNegotiatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="DeleteDebtNegotiatorResult" nillable="true" type="q117:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptConsumerDebtSettlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerDebtSettlementAcceptInfos" nillable="true" type="q118:ArrayOfConsumerDebtSettlementAcceptInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptConsumerDebtSettlementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumerDebtSettlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="consumerDebtSettlementId" type="q119:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumerDebtSettlementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectConsumerDebtNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerDebtNegotiations" nillable="true" type="q120:ArrayOfConsumerDebtNegotiationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectConsumerDebtNegotiationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetConsumerDebtSettlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerDebtSettlements" nillable="true" type="q121:ArrayOfBaseRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetConsumerDebtSettlementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="ResetConsumerDebtSettlementResult" nillable="true" type="q122:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveConsumerTrustToBlotter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="blotterId" type="q123:guid" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="orders" nillable="true" type="q124:ArrayOfBaseRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveConsumerTrustToBlotterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="MoveConsumerTrustToBlotterResult" nillable="true" type="q125:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="objects" nillable="true" type="q126:ArrayOfConsumerTrust" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="UpdateConsumerTrustResult" nillable="true" type="q127:MethodResponseErrorCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerTrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q128:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerTrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="GetConsumerTrustResult" nillable="true" type="q129:MethodResponseArrayOfConsumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebtNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerDebtNegotiations" nillable="true" type="q130:ArrayOfConsumerDebtNegotiationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebtNegotiationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebtNegotiationIsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerDebtNegotiationIsReads" nillable="true" type="q131:ArrayOfConsumerDebtNegotiationIsReadInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerDebtNegotiationIsReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectConsumerTrustNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerTrustNegotiations" nillable="true" type="q132:ArrayOfConsumerTrustNegotiationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectConsumerTrustNegotiationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrustNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerTrustNegotiations" nillable="true" type="q133:ArrayOfConsumerTrustNegotiationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrustNegotiationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrustNegotiationIsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/FluidTrade.Guardian.Records" minOccurs="0" name="consumerTrustNegotiationIsReads" nillable="true" type="q134:ArrayOfConsumerTrustNegotiationIsReadInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerTrustNegotiationIsReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumerTrustSettlement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="consumerTrustSettlementId" type="q135:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsumerTrustSettlementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>