Guardian/Script Loader/Service References/StreamManagerWebRef/Server Admin Stream Manager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Guardian/Server Admin Stream Manager?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetAsyncResponseStreamData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="streamDataId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncResponseStreamDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetAsyncResponseStreamDataResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>